{{ define "main" }}
    <main class="post">
        <article>
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </h1>
            <div class="post-meta">
                <p>
                    {{ if .Date }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-calendar">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                        {{ .Date.Format (.Site.Params.DateFormat | default "01-02-2020") }}
                    {{ end }}
                </p>
                {{- with .Params.tags }}
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-tag meta-icon">
                            <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
                            <line x1="7" y1="7" x2="7" y2="7"></line>
                        </svg>
                        {{- range . -}}
                            <span class="tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{.}}</a></span>
                        {{- end }}
                    </p>
                {{- end }}
            </div>

            {{- if .Params.toc }}
                <hr />
                <aside id="toc">
                    <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
                <hr />
            {{- end }}

            {{ with .Params.Cover }}
                <img src="/img/{{ . }}" class="post-cover" />
            {{ end }}

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>
    </main>
{{ end }}